{% extends 'base.html' %}
{% load static  %}


{% block content %}
<!--
<div style="background-image: url('sysadmin//static//img//dr.jpg');background-repeat: no-repeat; height: 555px; width: 100%; background-size: cover; margin-top:-360px ; alt="компьютер">
</div>-->
<div  style="height: 550px;" >
<img src="sysadmin//static//img//dr.jpg" alt="компьютеры" style="  width: 100%; height: 100%;  margin-top: -260px;  margin-bottom: 20px; object-fit: cover;">

</div>
<section   class="py-5 text-center container">
    <div class="row py-lg-2">
      <div style="margin-bottom: -50px;"class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Наши IT услуги</h1>
       

      </div>
    </div>
  </section>

<ul style="list-style-type: none;">
<b><li class="lead"> <b>Администрирование сетевого оборудования (коммутаторы, маршрутизаторы, точки доступа,Wi-Fi мосты, межсетевые экраны).</b></li></b>
<li class="lead"> <b>Администрирование компьютеров (установка, настройка, обновление программного обеспечения и операционной системы, настройка прав доступа,резервирование данных).</b></li>
<li class="lead"> <b>Mодернизация, ремонт и техническое обслуживание компьютерной техники;</b></li>
<li class="lead"> <b>Замена, перемещение и модернизация рабочих мест;</b></li>
<li class="lead"><b>Инсталляция и обновление программного обеспечения;</b></li>
<li class="lead"><b> Подключение сетевого, серверного, компьютерного оборудования и оргтехники.</b></li>
<li class="lead"> <b>Настройка и поддержание работы оргтехники.</b></li>
<li class="lead"> <b>Консультирование пользователей вычислительной техники.</b></li>
</ul>

<h2 class="text-center fw-light">КАКИЕ ЗАДАЧИ ВЫПОЛНЯЕТ IT-АУТСОРСИНГ</h2>

<p class="lead fw-light "style="margin-left: 30px"><b>Основная задача ИТ-аутсорсинга – обеспечение бесперебойной работы всей ИТ-инфраструктуры.В зависимости от потребностей компании и региона она может передавать на аутсорсинг широкий спектр задач:
</br>

</b></p>
<ul style="list-style-type: none;">
  <li class="lead"> <b>1. Обслуживание рабочих компьютеров сотрудников;.</b></li>
  <li class="lead"> <b>2. Обслуживание оргтехники;</b></li>
  <li class="lead"> <b>3. Обслуживание серверной инфраструктуры;</b></li>
  <li class="lead"> <b>4. Подбор оборудования под нужды и требования заказчика;</b></li>
  <li class="lead"><b>5. Обслуживание программных обеспечений, операционных систем;</b></li>
  <li class="lead"><b>6. Мониторинг всех IT-служб, обеспечивающих работу компании;</b></li>
  <li class="lead"> <b>7. Помощь в масштабировании и развитии ИТ-инфраструктуры.</b></li>
  </ul>




  
    
    <h2 class="text-center fw-light">Стоимость IT-АУТСОРСИНГА</h2>
    <p class="lead fw-light "style="margin-left: 30px"><b>Стоимость работы наших  специалистов  измеряется  в часах и составляет : <b>1000</b> рублей за час работы</b></p>
    <p class="lead fw-light "style="margin-left: 30px ;margin-top:2px"><b>Телефон  для связи:<b > 89124947496</b></p>
    </br>

{% endblock %}
