{% extends 'base.html' %}


{% block content %}


  {% for item in object_list %} 
<div class="album py-5 bg-body-tertiary">
  <div class="container">
      <div class="col">
        <div class="card shadow-sm">
          <h5 class="fw-light">Вы действительно хотите удалить о том что: {{ item.title }}</h5>
          <form method="POST" enctype="multipart/form-data"></form>
            {% csrf_token %}
            <input type="submit" value="Confirm"/>
           
</form>
{% endfor %}

{% endblock %}